# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env
.env.local
.env.production

# Logs
*.log

# IDE
.vscode/
.idea/
.DS_Store

# Ignore ONLY the root CSV folder
/companies/

# Ignore ONLY the root scripts folder
/scripts/

# Ignore documentation folder
/doc/